
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

thead {
    color: white;
    background-color: #bb7474;}

tr:nth-child(even) {background-color: #f0e7e7;}

.logo{
    width: 250px;
}

.PerformanceTable .PerformanceCell {
    width: 750px;
}